/* Default tags */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 187ms Cubic-Bezier(0, 0, 0, 1);
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.63) transparent;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #2c2c2c;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(143, 143, 143, 0.63);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(240, 240, 240, 0.63);
  border-radius: 20px;
  scale: 10%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.25em;
  font-family: arial, helvetica, sans-serif;
  color: rgb(220, 220, 220);
  background-color: rgb(64, 64, 64);
  font-size: 0.75em;
}

.blur {
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  -webkit-backdrop-filter: saturate(100%) blur(0.5px);
          backdrop-filter: saturate(100%) blur(0.5px);
}

.blur h2 {
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  text-shadow: 0.05em 0.075em 0.1em rgba(0, 0, 0, 0.7);
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-between;
  align-items: stretch;
  overflow: scroll;
  position: relative;
  box-sizing: border-box;
}

.column {
  flex-basis: 15%;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.column .blur {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: saturate(100%) blur(3px);
          backdrop-filter: saturate(100%) blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column .blur:hover {
  -webkit-backdrop-filter: saturate(100%) blur(0px);
          backdrop-filter: saturate(100%) blur(0px);
}

.column a {
  color: white;
  text-decoration: none;
}

.column h2 {
  font-size: 2.4em;
  margin: 10em 0 0.2em 0;
  padding: 0;
  line-height: 1em;
  text-shadow: 0.05em 0.075em 0.1em rgba(0, 0, 0, 0.7);
}

.column p {
  font-size: 1.7em;
  margin: 1em 0 0.2em 0;
  text-shadow: 0em 0.1em 5pt rgb(0, 0, 0);
}

.column1 {
  background-image: url("../img/vnv.webp");
}

.column2 {
  background-image: url("../img/tbot.webp");
}

.column3 {
  background-image: url("../img/tmr.webp");
}

.column4 {
  background-image: url("../img/toa.webp");
}

.column5 {
  background-image: url("../img/goc.webp");
}

.column6 {
  background-image: url("../img/dbf.webp");
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.747);
  -webkit-backdrop-filter: saturate(100%) blur(100px);
          backdrop-filter: saturate(100%) blur(100px);
  color: #fff;
  padding: 0 1em;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header img {
  height: 32pt;
  width: 32pt;
}

.header h1 {
  display: flex;
  font-size: 2em;
  letter-spacing: 0.4pt;
}

#discord {
  color: white;
  text-decoration: none;
  scale: 2.75;
  padding: 0.2em;
  margin-right: 1em;
  display: flex;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .column {
    flex-basis: 75%;
  }
}
@media (max-width: 480px) {
  .column {
    flex-basis: 75%;
  }
}
/* Modifier classes */
.left {
  float: left;
}

.right {
  float: right;
}

.mirror {
  rotate: 180deg;
}

@keyframes slide-down {
  from {
    max-height: 0;
    margin-top: -0.12px;
  }
  to {
    max-height: 5000px;
  }
}
@keyframes slide-up {
  from {
    max-height: 1000px;
  }
  to {
    max-height: 0;
    margin-top: -0.12px;
  }
}
@media only screen and (max-width: 900px) {
  .column h2 {
    margin: 2.25em 0 0.2em 0;
    line-height: 1.2em;
  }
  .column p {
    margin: 0em 0 0.2em 0;
  }
}
.transparent {
  background-color: rgba(255, 255, 255, 0) !important;
  box-shadow: none !important;
}/*# sourceMappingURL=style.css.map */