---
import { cn } from "@/lib/utils";
import type { TocItem } from "@/types";

interface Props {
  heading: TocItem;
}

const {
  heading: { depth, slug, subheadings, text },
} = Astro.props;
---

<slot name="close">
  <li class={cn(depth > 2 && "ms-2")}>
    <a
      aria-label={`Scroll to section: ${text}`}
      class={cn(
        "block line-clamp-2 hover:text-muted-foreground",
        depth <= 2 ? "mt-3" : "text-sm mt-2",
      )}
      href={`#${slug}`}><span class="me-0.5">#</span>{text}</a
    >
    {
      !!subheadings.length && (
        <ul>
          {subheadings.map((subheading) => (
            <Astro.self heading={subheading} />
          ))}
        </ul>
      )
    }
  </li>
</slot>
